# python
*.pyc
.coverage
__pycache__

# pycharm
.idea
*/.idea
*.iml

# eclipse
.project
.pydevproject

# files
*.log
*.gz
*.zip
junit.xml
clover.xml
coverage.xml

# directories
*.egg-info/
docs
.benchmarks
.cache
.idea
.pytest_cache
notebooks/.ipynb_checkpoints/

# wheels
*.whl

# pytest
.pytest_cache
.cache
